:root {
  --secondary-color: #a1bae7;
  --third-color: #9abd91;
}
body {
  min-height: 100vh;
}
.hero-section {
  padding: 120px 0;
}
.hero-section__header {
  font-size: 40px;
  font-weight: bolder;
}
.hero-section__subheader {
  font-size: 18px;
  line-height: 24px;
}
.top-customers {
  filter: grayscale(100%);
}
.top-customers img {
  margin: 4px;
  transform: scale(0.8);
}
.part-number {
  position: absolute;
  font-size: 64px;
  bottom: -10px;
  right: 10px;
  color: #e6e8ea;
  opacity: 0.3;
}
.part-button {
  position: absolute;
  bottom: 14px;
  left: 14px;
}
.preview_image {
  padding: 0 40px;
  height: 300px;
  overflow: hidden;
}
.bracket {
  font-size: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #eee;
  font-weight: lighter;
  line-height: 260px;
}
.box-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 140px 20px 0;
}
.box-image img {
  height: 120px;
  position: absolute;
  top: 0;
  right: 0;
}
.why-box {
  padding: 80px 0 100px;
  background-color: var(--secondary-color);
}
.why-box img {
  position: absolute;
  z-index: 0;
  width: 100px;
  bottom: 0;
  right: 0;
}
.easy-js {
  padding: 100px 0 100px;
  background-color: var(--secondary-color);
}
.localizer-js {
  padding: 100px 0 100px;
  background-color: var(--third-color);
}
.customers-box {
  padding: 40px 0 100px;
}
.customers-box img:not(:hover) {
  filter: grayscale(100%);
  opacity: 0.5;
  transform: scale(0.7);
}
.customers-box img {
  margin: 10px;
  transition: all 0.1s linear;
}
footer {
  background: #172b4d;
  color: #ffffff;
  font-size: 14px;
  padding: 20px 0;
}
footer hr {
  background: #3b4b68;
}
footer .footer__menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none inside;
  font-size: 12px;
  margin: 20px 0;
}
footer .footer__menu li {
  margin: 0 10px;
}
footer .footer__menu a {
  text-decoration: none;
  color: #ffffff;
}
footer .mute-text {
  color: #7f8c97 !important;
}
.hero-section {
  background: url(../images/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box, url(../images/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(240deg, #468cff, #0065ff) 0% 0% / auto repeat scroll padding-box border-box #0065ff;
  background-blend-mode: normal, normal;
  color: #ffffff;
  padding: 180px 0;
}
.smaller-text {
  font-size: 14px;
}
.easyquery-hero {
  background: url(../images/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box, url(../images/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, #5243aa, #ed50b4) 0% 0% / auto repeat scroll padding-box border-box #5243aa;
  background-blend-mode: normal, normal;
  color: #ffffff;
  padding: 40px 0 120px;
}
.localizer-hero {
  background: url(../images/ViewsBackground_Left_Narrow.svg) left center / contain no-repeat scroll padding-box border-box, url(../images/ViewsBackground_Right_Narrow.svg) right center / contain no-repeat scroll padding-box border-box, linear-gradient(60deg, #2b4b0a, #bff68e) 0% 0% / auto repeat scroll padding-box border-box #2b4b0a;
  background-blend-mode: normal, normal;
  color: #ffffff;
  padding: 40px 0 120px;
}
.easyquery-color {
  background: linear-gradient(60deg, #5243aa, #ed50b4) 0% 0% / auto repeat scroll padding-box border-box #5243aa;
  background-blend-mode: normal, normal;
  color: #ffffff;
}
.localizer-color {
  background: linear-gradient(60deg, #2b4b0a, #bff68e) 0% 0% / auto repeat scroll padding-box border-box #2b4b0a;
  background-blend-mode: normal, normal;
  color: #ffffff;
}
.metroui-color {
  background: linear-gradient(60deg, #5243aa, #468cff) 0% 0% / auto repeat scroll padding-box border-box #5243aa;
  background-blend-mode: normal, normal;
  color: #ffffff;
}
.easy-report-images img {
  border: 1px solid #efefef;
}
.metro-in-action .work-box {
  height: 280px;
  overflow: hidden;
  border: 1px solid #efefef;
  margin: 4px;
}
.metroui-screens {
  background-color: #7babff;
  padding: 120px 0;
  color: #ffffff;
}
.metroui-screens .img-wrap {
  height: 160px;
  overflow: hidden;
}
.price {
  font-size: 48px;
}
.price-table td:not(:first-child) {
  text-align: center;
}
.license-price {
  background-color: #efefef;
  padding: 80px 0;
}
.hours-count {
  font-size: 24px;
  font-weight: bold;
}
/*# sourceMappingURL=index.css.map */